<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blackout Hawaii</title>
  </head>
  <body>
    Bio Blog Tour Merch Music

    The band Blackout Hawaii is based in San Francisco and has burst onto the scene as of 2016.
    The band is composed of Oscar Woodrow Harper III, Mike Pannone, Liz Deegan, Adam Abeyta, and Ben Manning.  They have taken the world by storm and are totally awesome.  If you are reading this far into the description I really have nothing more to say.  We're going to just keep typing and hopefully you'll keep reading.  You can find us playing at many shows playing many songs for many people!!!

    Adding another bit of content to test a change in the remote!!!!


    Copyright Blackout Hawaii 2016
  </body>
</html>
